* {
    text-decoration:none;
    box-sizing: border-box;
    font-size: large;
}

:root{
  --button-bg-color: #351F79;
  --secondary: #BF5FE3;
}

header {
  margin: 7px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: medium;
}

#highscore {
  color: var(--secondary);
  text-align: left;
}

#timer {
  text-align: right;
}

h1 {
  font-weight: bold;
  font-size: xx-large;
}

.home {
  align-items: center;
  text-align: center;
  justify-content: center;
}

.container {
  margin: 0 auto;
  padding: 2px;
}

.container p {
  padding: 15px;
  font-size: large;
}

#question-container {
  align-items: left;
  text-align: left;
  width: 75%;
  margin: auto;
}

.btn {
  background-color: var(--button-bg-color);
  color: white;
  padding: 10px 15px;
  border-radius: 10px;
  text-align: center;
}

.btn:hover {
  background-color: var(--secondary);
  color: white;
  padding: 10px 15px;
  border-radius: 10px;
}

.ansbtn {
  background-color: var(--button-bg-color);
  display: flex;
  flex-direction: column;
  color: white;
  padding: 10px 15px;
  margin: 10px 0px;
  border-radius: 10px;
  width: 400px;
  font-size: large;
}

.ansbtn:hover {
  background-color: var(--secondary);
  color: white;
  padding: 10px 15px;
  border-radius: 10px;
}

.hide {
  display: none;
}

.flex-column {
  display: flex;
  flex-direction: column;

}

.flex-center {
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px){
  .container {
    min-width: auto;
  }
}

.end-form-container {
  width: auto;
  display: flex;
  flex-direction: row;
}

input {
  height: 50px;
  width: 400px;
  padding: 20 px;
  margin: 0 50px;
}